---
title: О нас
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'О клинике'])
  .about
    .container
      .row.center-xs
        .col-md-10.start-xs.col-xs-12
          .row
            .col-xs-12
              h1 Стоматологическая клиника НОВИВ
          .row
            .col-sm-4.center-xs.col-xs-12
              .about__block
                .about__block__img
                  img(src="img/team/team-1.png", alt="")
                .about__block__name
                  p С уважением, <br>Генеральный директор семейной стоматологической клиники НОВИВ,
                  b Новохатько Иван Владимирович
            .col-xs-12.col-sm-8.first-xs.last-sm
              .about__text
                p В 2008 году открылась стоматологическая клиника «НОВИВ». С этого момента начинается история развития этой небольшой уютной клиники, в которой предоставляется весь комплекс стоматологических услуг.
                p Основным принципом работы нашей клиники является не лечение отдельных нарушений, вызывающих неприятные симптомы в конкретный момент времени, а комплексное восстановление с последующим поддержанием идеального здоровья полости рта.
                p Стоматологи нашей клиники исключительно с высшим образованием. Все врачи имеют сертификаты об окончании интернатуры, большинство закончили углубленное двухлетнее обучение в ординатуре по своей специальности. Между врачами четкое разделение труда по специализациям, что значительно повышает качество. Мы не стоим на месте, наши сотрудники регулярно проходят курсы повышения квалификации, ведь идти в ногу со временем можно лишь, обладая всеми необходимыми знаниями в данной области.
                p Высокий уровень оказываемых стоматологических услуг проявляется не только  в самом современном оборудовании, технологиях и опыте врачей. В нашей клинике много внимания уделяется вопросам стерильности, асептики и антисептики. Здоровье и безопасность пациентов для нас является самым приоритетным направлением.
                p Мы постоянно поддерживаем высокие стандарты оказываемых услуг, наши пациенты это ценят и доверяют нам свое здоровье.
    .about__video
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h2 Стоматология НОВИВ
            .about__video__block
              img(src="img/video.png", alt="")
              a(href="#")
                i.icon.icon-play