---
title: Имплантат Nobel Biocare за 49 000 рублей под ключ до 30 апреля
---
extends layouts/_layout
block content
  .action
    .action__head
      .container
        .row
          .col-xs-12
            h1 Имплантат Nobel Biocare<br> за 49 000 рублей под ключ до 30 апреля
          .col-sm-6.col-xs-12.end-sm
            ul
              li Консультация имплантолога
              li План лечения
              li Установка имплантата
              li Наложение швов
              li Анестезия
              li Имплантат
          .col-sm-6.col-xs-12.start-sm
            ul
              li Снятие слепков
              li Абатмент
              li Коронка металлокерамическая с<br> винтовой фиксацией
              li Фиксация коронки
              li Контрольный осмотр
              li Формирователь десны
          .col-xs-12.center-xs
            a(href="#").btn.btn-primary Запись к врачу
    .action__advantages
      .container
        .row
          .col-xs-12
            h2 Преимущества установки импланта в НОВИВ
          .col-sm-4.col-xs-12
            .action__advantages__block
              img(src="img/action-1.svg", alt="")
              span 100% гарантия
              p Предоставляем пожизненную гарантию на работы — в случае выпадения импланта (вероятность 1 к 100) мы установим Вам другой бесплатно.
          .col-sm-4.col-xs-12
            .action__advantages__block
              img(src="img/action-2.svg", alt="")
              span 100% гарантия
              p Предоставляем пожизненную гарантию на работы — в случае выпадения импланта (вероятность 1 к 100) мы установим Вам другой бесплатно.
          .col-sm-4.col-xs-12
            .action__advantages__block
              img(src="img/action-3.svg", alt="")
              span 100% гарантия
              p Предоставляем пожизненную гарантию на работы — в случае выпадения импланта (вероятность 1 к 100) мы установим Вам другой бесплатно.
    .action__doc
      .container
        h2 Хирург-имплантолог
        .row
          .col-md-2.col-sm-3.col-xs-12
            .action__doc__img
              img(src="img/team/team-1.png", alt="")
          .col-md-10.col-sm-9.col-xs-12
            .action__doc__info
              h3 Новичков Сергей Юрьевич
              span Челюстно-лицевой хирург, имплантолог
              p Закончил Тверскую государственную медицинскую академию Интернатура, ординатура, аспирантура в отделении челюстно-лицевой и реконструктивной хирургии центрального научно-исследовательского института стоматологии и челюстно-лицевой хирургии (ЦНИИС-ЧЛХ)
              a(href="#").btn.btn-primary записаться на прием
              a(href="#").btn.btn-pink ВСЕ врачи
    .action__foto
      .container
        h2 Фото до и после
        .swiper
          .swiper-container.swiper-action_foto
            .swiper-wrapper
              .swiper-slide
                a(href="img/team/team-1.png" data-fancybox="gallery").action__foto__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                a(href="img/team/team-1.png" data-fancybox="gallery").action__foto__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                a(href="img/team/team-1.png" data-fancybox="gallery").action__foto__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                a(href="img/team/team-1.png" data-fancybox="gallery").action__foto__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                a(href="img/team/team-1.png" data-fancybox="gallery").action__foto__img
                  img(src="img/team/team-1.png", alt="")
            .swiper-pagination.swiper-pagination-action_foto
          .swiper-button-next.swiper-action_foto-next
            i.icon.icon-right-arrow
          .swiper-button-prev.swiper-action_foto-prev
            i.icon.icon-left-arrow
    .action__installation
      .container
        h2 Какие импланты мы устанавливаем
        .row.middle-xs
          .col-md-2.col-sm-3.col-xs-12
            .action__installation__img
              img(src="img/team/team-1.png", alt="")
          .col-md-10.col-sm-9.col-xs-12
            .action__installation__info
              span Установка всего 49 000
                i.icon.icon-rub
              p Имплантат NobelReplace Conical Connection с коническим соединением сочетает проверенное корневидное тело имплантата с герметичным соединением и обеспечивает оптимальную эстетику при любых показаниях.
    .action__saving
      .container
        .row
          .col-xs-12  
            h2 Узнайте как сэкономить до 25 000 рублей на каждом импланте
            form
              .action__saving__phone
                p Укажите телефон:
                input(type="tel" placeholder="+7 (___) ___-__-__").phone
              input(type="submit" value="получить скидку 10%").btn.btn-primary
    .action__new-tooth
      .container
        .row.center-xs
          .col-md-10.col-xs-12.start-xs
            h2 Сколько стоит новый зуб «под ключ»? Цена нового зуба (имплант + коронка) складывается из 4 составляющих:
            .row
              .col-md-8.col-sm-10.col-xs-12
                .action__new-tooth__block 
                  .action__new-tooth__block__img
                    img(src="img/impandmater.png", alt="")
                  .action__new-tooth__block__text
                    h3 Имплант и материалы
                    p 99 % клиник приобретают у производителей импланты, абатменты и формирователя по одной и той же цене. Экономить на закупке невозможно при всем желании. Мы предлагаем нашим пациентам выбор от недорогих систем (Alpha Bio) до швейцарских премиум-имплантов (Astra Tech).
              .col-md-8.col-sm-10.col-xs-12.col-md-offset-4.col-sm-offset-2
                .action__new-tooth__block 
                  .action__new-tooth__block__img
                    img(src="img/impandmater.png", alt="")
                  .action__new-tooth__block__text
                    h3 Имплант и материалы
                    p 99 % клиник приобретают у производителей импланты, абатменты и формирователя по одной и той же цене. Экономить на закупке невозможно при всем желании. Мы предлагаем нашим пациентам выбор от недорогих систем (Alpha Bio) до швейцарских премиум-имплантов (Astra Tech).
              .col-md-8.col-sm-10.col-xs-12
                .action__new-tooth__block 
                  .action__new-tooth__block__img
                    img(src="img/impandmater.png", alt="")
                  .action__new-tooth__block__text
                    h3 Имплант и материалы
                    p 99 % клиник приобретают у производителей импланты, абатменты и формирователя по одной и той же цене. Экономить на закупке невозможно при всем желании. Мы предлагаем нашим пациентам выбор от недорогих систем (Alpha Bio) до швейцарских премиум-имплантов (Astra Tech).
              .col-md-8.col-sm-10.col-xs-12.col-md-offset-4.col-sm-offset-2
                .action__new-tooth__block 
                  .action__new-tooth__block__img
                    img(src="img/impandmater.png", alt="")
                  .action__new-tooth__block__text
                    h3 Имплант и материалы
                    p 99 % клиник приобретают у производителей импланты, абатменты и формирователя по одной и той же цене. Экономить на закупке невозможно при всем желании. Мы предлагаем нашим пациентам выбор от недорогих систем (Alpha Bio) до швейцарских премиум-имплантов (Astra Tech).
    section.home-consultation
      .container
        .row
          .col-sm-7.col-xs-12
            .heading
              h2 Запишись на бесплатную консультацию
            form(action="").form
              .form__input
                label(for="text") Имя
                input(type="text" id="text" placeholder="Имя")
              .form__input
                label(for="tel") Телефон
                input(type="tel" id="tel" placeholder="Телефон").phone
              .form__select
                label Желаемая дата
                select
                  option(value="1") __/__/____
                  option(value="2") 11/11/2018
                  option(value="3") 13/01/2018
              input(type="submit" value="Записаться").btn.btn-primary
              .form__checkbox
                input(type="checkbox" id="checkbox")
                label(for="checkbox")
                  i.icon.icon-checkbox
                  i.icon.icon-checkbox-active
                  | Я согласен на 
                  a(href="#") обработку персональных данных. 
          .col-sm-5.bottom-xs.flex.hidden-xs
            img(src="img/home-png/doctor.png", alt="")
    .about__video
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h2 Стоматология НОВИВ
            .about__video__block
              img(src="img/video.png", alt="")
              a(href="#")
                i.icon.icon-play
    .action__reward
      .container
        h2 Награды
        .swiper
          .swiper-container.swiper-reward
            .swiper-wrapper
              .swiper-slide
                .action__reward__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                .action__reward__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                .action__reward__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                .action__reward__img
                  img(src="img/team/team-1.png", alt="")
              .swiper-slide
                .action__reward__img
                  img(src="img/team/team-1.png", alt="")
            .swiper-pagination.swiper-pagination-reward
          .swiper-button-next.swiper-reward-next
            i.icon.icon-right-arrow
          .swiper-button-prev.swiper-reward-prev
            i.icon.icon-left-arrow