---
title: Эндодонтическое лечение
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Статьи', 'Эндодонтическое лечение'])
  .article
    .container
      .row
        .col-xs-4
          aside.aside
            .aside__block
              h2 Статьи
              ul
                li
                  a(href="#") Рекомендации по применению кап для отбеливания зубов
                li
                  a(href="#") Базальная имплантация: за и против, ее плюсы и минусы
                li
                  a(href="#") Как восстановить зубы?
                li.active
                  a(href="#") Эндодонтическое лечение
                li
                  a(href="#") Протезирование зубов без опточки
                li
                  a(href="#") Процесс одномоментной имплантации зубов
                li
                  a(href="#") Бюгельные протезы на аттачменах
                li
                  a(href="#") Показать все

        .col-md-8.col-xs-12
          .article__block
            h1 Эндодонтическое лечение
            p Эндодонтическое лечение зубов одна из наиболее сложных задач современной терапевтической стоматологии. Так что же определяет успех или неудачу лечение, какие факторы необходимо учитывать при планировании лечения? 
            p Для расширения корневых каналов 80% врачей используют препараты ЭДТА, в то время как остальная часть стоматологов средства для декальцинации дентина не применяет вообще, следовательно, при проведении инструментальной обработки корневого канала повышается риск заклинивания и отлома эндодонтического инструментария.
            p Ответы на вопросы анкет показали, что 37,2% врачей пломбируют корневые каналы до анатомической верхушки, 51,4% - до физиологической верхушки. С огорчением следует отметить, метод заапикальной терапии при остром периодонтите применяют 8,6% человек, при хроническом периодонтите - 62,9%, а 2,8% анкетируемых применяют этот метод всегда, и только четверть опрошенных считают нецелесообразным пломбирование «за верхушку». Анализ анкет позволяет сделать вывод о низком уровне эндодонтической помощи.
            p Из-за применения неадекватных методов лечения (резорцин-формалиновый метод) и значительного количества врачей, предпочитающих «заверху-шечную терапию» [1, 2].
            p Неудовлетворительное качество эндодонтического лечения объясняется тем, что рентгенологический контроль после пломбирования проводится иногда в 54,3% случаев, и только 45,7% врачей-стоматологов проводят рентген-контроль всегда.
            p В процессе анализа анкет большое количество осложнений при эндодонтическом лечении зубов объясняется отсутствием информации о современных технологиях и низким уровнем мануальных навыков, а также редким использованием методов расширения канала «от большего к меньшему», электрометрического контроля прохождения корневого канала, рентген-контроля на всех этапах лечения.
            p С помощью анкетирования выявлено большое количество проблем в эндодонтии. Прежде всего это недостаточная информированность врачей о необходимости проведения каждого этапа эндодонтического лечения, а именно создание оптимального эндодонтического доступа, точное определение рабочей длины корневых каналов, эффективная инструментальная обработка, особенно в апикальной зоне, рентгенологический контроль на всех этапах пломбирования корневого канала. Частое применение «заапикальной» терапии ведет к развитию осложнений в виде выведения пломбировочного материала в соседние анатомические образования, такие как нижнечелюстной канал и верхнечелюстной синус. Данные осложнения требует обязательного хирургического вмешательства и длительной послеоперационной реа-билитации пациента. Неоправданное применение резорцин-формалинового метода, в частности в зубах с хорошо проходимыми корневыми каналами, врачами муниципальных учреждений с целью экономии времени и намеренного уменьшения количества посещений ведет к снижению качества эндодонтического лечения и развитию воспалительных заболеваний челюстно-лицевой области.
            p Недостаточная информированность врачей, а также крайне слабые знания по анатомии че-люстно-лицевой области ставят под сомнение качество образования и требуют серьёзной корректировки курса обучения как у студентов, так и на последипломном уровне, в том числе на циклах повышения квалификации.
