---
title: Контакты
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Контакты'])
  .contacts
    .container
      .row
        .col-xs-12.center-xs
          h1 Контакты стоматологической клиники НОВИВ
        .col-md-6.col-sm-7.col-xs-12
          .contacts__img
            img(src="img/contacts.png" srcset="img/contacts@2x.png 2x, img/contacts@3x.png 3x")
        .col-md-6.col-sm-5.col-xs-12
          .contacts__content
            p 141196, <br>М.О., г. Фрязино, пр-т Мира,  д. 29
            a(href="tel:+79629767812") +7 (962)-976-78-12
            a(href="tel:+74962556020") +7 (496) 255-60-20
            a(href="mailto:info@noviv.ru").mail info@noviv.ru
            p Ежедневно с 9:00 до 20:00
    .contacts__map
      p На выезде из г. Фрязино в сторону Гребнево последний 16 этажный дом слева. Вход со стороны дороги.
      iframe(src="https://snazzymaps.com/embed/82592" width="100%" height="100%" style="border:none;")