---
title: Новохатько Иван Владимирович
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Коллектив', 'Новохатько Иван Владимирович'])
  .doctor
    .container
      .row
        .col-xs-12
          h1 Новохатько Иван Владимирович
          h2 Врач-стоматолог-ортопед
      .doctor__info
        .doctor__info__img
          img(src="img/team/team-3.png", alt="")
        .doctor__info__text
          h4 Специализация:
          p Терапия, ортопедия
          h4 Дни приёма:
          p Четные числа кроме воскресенья
          h4 Часы приёма:
          p С 9:00 до 20:00
          a(href="#").btn.btn-primary записаться
    .doctor__qualification
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h2 Квалификация
            p Закончил Тверскую государственную медицинскую академию Интернатура на базе Московского медико-стоматологического университета Ординатура по ортопедической стоматологии ФУВ МОНИКИ 
            p Стаж с 2001 года.
            h2 Документы и сертификаты:
            .swiper
              .swiper-container.swiper-doctor--qualification
                .swiper-wrapper
                  .swiper-slide
                    .doctor__qualification__img
                      img(src="img/team/team-3.png", alt="")
                  .swiper-slide
                    .doctor__qualification__img
                      img(src="img/team/team-3.png", alt="")
                  .swiper-slide
                    .doctor__qualification__img
                      img(src="img/team/team-3.png", alt="")
                  .swiper-slide
                    .doctor__qualification__img
                      img(src="img/team/team-3.png", alt="")
                  .swiper-slide
                    .doctor__qualification__img
                      img(src="img/team/team-3.png", alt="")
                .swiper-pagination.swiper-pagination-doctor--qualification
              .swiper-button-next.swiper-doctor--qualification-next
                i.icon.icon-right-arrow
              .swiper-button-prev.swiper-doctor--qualification-prev
                i.icon.icon-left-arrow
    .doctor__text
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            ul
              li Сертификат "Препарирование зубов под изготовление полных коронок",  Москва 2013г.
              li Сертификат "Interdisciplinary treatment planning and functional occlusion", Москва 2015г.
              li Сертификат "Цифровое планирование улыбки", Москва 2016 г.
              li Exchange certificate "The studend actively participated in the learning process, developed dental professional skills and performed various assignments in an intercultural environment", Амстердам, 2014г.
              li Сертификат " Восстановление анатомической формы передней и боковой группы зубов в эстетических реставрациях", г. Москва, 2015г.
              li Сертификат " Терапевтическая стоматология 58-ой итоговой научной конференции МГМСУ", 2010г.
              li Лауреат конференции "Стоматология XXI века", 2010 г.
              li Рекомендация учёного совета МГМСУ им. А.И.Евдокимова за успехи в учёбе, 2013г.
              li Диплом лауреата врачебной конференции, 2014г.
              li Сертификат "Современные подходы к восстановлению фронтальной группы зубов: ошибки, осложнения и их профилактика" г. Москва, 2014г.
              li Сертификат "Лазерная стоматология. Преимущество применения диодного лазера в практике врача-стоматолога-хирурга, ортопеда, пародонтолога и терапевта", г. Москва, 2015г.
              li Сертификат "Введение в пародонтологию", г. Москва, 2015г.
              li Сертификат "Аспекты морфологии боковой группы зубов в прямой реставрации нанокомпозитами IVOCLAR VIVADENT" г. Москва, 2014г.
              li Сертификат "Лазерная ортопедия", г. Москва, 2015г.
              li Сертификат "Диагностическая система междисциплинарного планирования в общей стоматологической практике. Понятная окклюзия: физиологически обоснованный практический подход", г. Москва, 2015г.
    .doctor__reviews
      .container
        .row.center-xs
          .col-md-9.col-xs-12.start-xs
            h2 Отзывы о враче
            .swiper
              .swiper-container.swiper-doctor--reviews
                .swiper-wrapper
                  .swiper-slide
                    .doctor__reviews__block
                      h3 Мария
                      span 30.12.2017
                      p Обратилась в Новив в полном отчаянии — пародонтоз совсем замучил, толком не могла есть, страшно было чистить зубы — шатались, боялась, что выпадет в процессе чистки. Думала, пойду в больницу, мне все удалят, вставят съемный протез, и буду я как дряхлая старуха с зубами в стакане. НО! В Новив сказали, что удалить никогда не поздно, можно попробовать сохранить зубы. Путь был долгим и сложным — шинирование, кюретаж карманов, потом несколько сеансов вектора, параллельно местная терапия. В результате зубы пока на месте, не шатаются, оголенные шейки накрылись десной, могу улыбаться. Спасибо огромное. 
                      b Лечащий врач: Девляшкина Екатерина Александровна
                  .swiper-slide
                    .doctor__reviews__block
                      h3 Мария
                      span 30.12.2017
                      p Обратилась в Новив в полном отчаянии — пародонтоз совсем замучил, толком не могла есть, страшно было чистить зубы — шатались, боялась, что выпадет в процессе чистки. Думала, пойду в больницу, мне все удалят, вставят съемный протез, и буду я как дряхлая старуха с зубами в стакане. НО! В Новив сказали, что удалить никогда не поздно, можно попробовать сохранить зубы. Путь был долгим и сложным — шинирование, кюретаж карманов, потом несколько сеансов вектора, параллельно местная терапия. В результате зубы пока на месте, не шатаются, оголенные шейки накрылись десной, могу улыбаться. Спасибо огромное. 
                      b Лечащий врач: Девляшкина Екатерина Александровна
                  .swiper-slide
                    .doctor__reviews__block
                      h3 Мария
                      span 30.12.2017
                      p Обратилась в Новив в полном отчаянии — пародонтоз совсем замучил, толком не могла есть, страшно было чистить зубы — шатались, боялась, что выпадет в процессе чистки. Думала, пойду в больницу, мне все удалят, вставят съемный протез, и буду я как дряхлая старуха с зубами в стакане. НО! В Новив сказали, что удалить никогда не поздно, можно попробовать сохранить зубы. Путь был долгим и сложным — шинирование, кюретаж карманов, потом несколько сеансов вектора, параллельно местная терапия. В результате зубы пока на месте, не шатаются, оголенные шейки накрылись десной, могу улыбаться. Спасибо огромное. 
                      b Лечащий врач: Девляшкина Екатерина Александровна
                .swiper-pagination.swiper-pagination-doctor--reviews
              .swiper-button-next.swiper-doctor--reviews-next
                i.icon.icon-right-arrow
              .swiper-button-prev.swiper-doctor--reviews-prev
                i.icon.icon-left-arrow
    .reviews__form.doctor__form
      .container
        h2 Оставьте отзыв
        form(action="").form
          .row.center-xs
            .col-md-9.col-xs-12.start-xs
              .row
                .col-sm-5.col-xs-12
                  .form__input
                    label Имя
                    input(type="text" placeholder="Имя")
                  .form__input
                    label E-mail
                    input(type="email" placeholder="E-mail")
                .col-sm-7.col-xs-12
                  textarea(placeholder="Ваш отзыв")
                .col-xs-12.center-xs
                  input(type="submit" value="оставить отзыв").btn.btn-primary
                  .form__checkbox
                    input(type="checkbox" id="checkbox-2")
                    label(for="checkbox-2")
                      i.icon.icon-checkbox
                      i.icon.icon-checkbox-active
                      | Я согласен на 
                      a(href="#") обработку персональных данных.