---
title: Галерея
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'О клинике', 'Галерея'])
  .gallery
    .container
      .row
        .col-xs-12
          h1 Галерея стоматологической клиники НОВИВ
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-1.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-1.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-2.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-2.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-3.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-3.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-4.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-4.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-5.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-5.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-6.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-6.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-7.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-7.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-8.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-8.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-9.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-9.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-10.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-10.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-11.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-11.png", alt="")
        .col-md-3.col-sm-4.col-xs-6
          a(href="img/gallery/gallery-12.png" data-fancybox="gallery").gallery__block
            img(src="img/gallery/gallery-12.png", alt="")
    .gallery__video
      .container
        .row
          .col-xs-12
            h2 Видео о нашей клинике
            .swiper
              .swiper-container.swiper-gallery
                .swiper-wrapper
                  .swiper-slide
                    img(src="img/gallery/gallery-12.png", alt="")
                    a(href="#")
                      i.icon.icon-play
                  .swiper-slide
                    img(src="img/gallery/gallery-12.png", alt="")
                    a(href="#")
                      i.icon.icon-play
                  .swiper-slide
                    img(src="img/gallery/gallery-12.png", alt="")
                    a(href="#")
                      i.icon.icon-play
                  .swiper-slide
                    img(src="img/gallery/gallery-12.png", alt="")
                    a(href="#")
                      i.icon.icon-play
                .swiper-pagination.swiper-pagination-gallery
              .swiper-button-next.swiper-gallery-next
                i.icon.icon-right-arrow
              .swiper-button-prev.swiper-gallery-prev
                i.icon.icon-left-arrow