---
title: Информация для клиентов
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'О клинике', 'Информация для клиентов'])
  .info
    .info__content
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Информация для клиентов
            p В соответствии с Приказом Министерства здравоохранения РФ от 30 декабря 2014 г. N 956н «Об информации, необходимой для проведения независимой оценки качества оказания услуг медицинскими организациями, и требованиях к содержанию и форме предоставления информации о деятельности медицинских организаций, размещаемой на официальных сайтах Министерства здравоохранения Российской Федерации, органов государственной власти субъектов Российской Федерации, органов местного самоуправления и медицинских организаций в информационно-телекоммуникационной сети «Интернет».
            h3 ООО «НОВИВ»
            ul
              li 141196, М.О., г. Фрязино, пр-т Мира,  д. 29
              li 
                span +7 (962)-976-78-12
                span +7 (496) 255-60-20
              li http://noviv.ru | info@noviv.ru
              li Ежедневно с 9:00 до 20:00
              li Свединя об учередители: физические лица
            h3 Запись  на приём
            p еВ «НОВИВ» прием специалистов и оказание медицинских услуг осуществляется по предварительной записи. Записаться можно по круглосуточному многоканальному телефону +7 (962)-976-78-12,  а также с помощью формы записи на сайте или при обращении в регистратуру к медицинскому регистратору. При наличии свободного времени у специалиста возможен прием без предварительной записи.
            h3 Приём пациентов
            p Прием пациентов осуществляется при наличии документа, удостоверяющего личность (паспорт); при оказании услуг несовершеннолетним (дети до 18 лет) – обязательно сопровождение одним из родителей с предъявлением его паспорта и свидетельства о рождении ребенка. Родственники и третьи лица при сопровождении несовершеннолетнего должны иметь нотариально заверенное согласие родителей или законных представителей. 
            h3 Оформление документации
            p При первичном обращении с пациентом или его законным представителем заключается договор об оказании платных медицинских услуг, со стороны пациента подписывается информированное добровольное согласие на медицинское вмешательство, заявление о предоставлении информации по электронной почте и оформляется амбулаторная карта. Амбулаторная карта является собственностью клиники и хранится в регистратуре либо в архиве. Для надлежащего оформления документов Пациенту следует прибыть в клинику за 15 минут до начала приема.
            p В случаях отказа от подписания договора и добровольного информированного согласия на медицинское вмешательство клиника вправе отказать в приеме.
            p Вы можете предварительно ознакомиться с текстом договора на оказание платных медицинских услуг, скачав его с сайта:
            a(href="#")
              i.icon.icon-paper
              span Скачать двусторонний договор «НОВИВ»
            a(href="#")
              i.icon.icon-paper
              span Скачать трёхсторонний договор «НОВИВ»
            h3 Стандарты медицинской помощи
            p Врачи «НОВИВ» в своей работе руководствуются стандартами, утвержденными Минздравом РФ, в соответствии с федеральным законом № 323-ФЗ «Об основах охраны здоровья граждан Российской Федерации» (статья 37: «Порядки оказания медицинской помощи и стандарты медицинской помощи»). Ответственное отношение врачей «НОВИВ» к своей работе не позволяет им делать заключение о состоянии здоровья пациента на основании одних только жалоб и первичного осмотра.
            b.couple Почему одной только консультации специалиста часто бывает недостаточно?
            b.couple-1 Действительно ли есть необходимость в дополнительных обследованиях?
            p Для постановки точного диагноза и назначения схемы лечения специалисту необходима полная картина состояния Вашего здоровья на момент посещения нашей клиники.  Все назначения, которые Вы получаете в «НОВИВ», в том числе направления на анализы и другие диагностические обследования, выполняются в объеме не менее предусмотренных стандартом Минздрава РФ. Для постановки, снятия или подтверждения диагноза, назначения лечения или диагностики могут понадобиться дополнительные исследования, которые назначает врач.  Если у Вас есть данные актуальных исследований, полученные в сторонних медицинских организациях, Вы вправе предоставить их на приеме у врача.
            p Все эти меры направлены на то, чтобы с помощью высокоточной и всесторонней диагностики оказать Вам необходимую медицинскую помощь, разработать эффективную и щадящую программу лечения или действенную программу профилактики!
            h3 Оказание платных медицинских услуг
            p Клиники оказывают платные медицинские услуги. Клиники не участвуют в реализации программ государственных гарантий бесплатного оказания гражданам медицинской помощи. Пациенты имеют возможность получения медицинской помощи в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальных программ государственных гарантий бесплатного оказания гражданам медицинской помощи в других медицинских организациях, участвующих в реализации указанных программ.
            h3 Пациенты, застрахованные по системе ДМС
            p Прием пациентов, застрахованных по системе ДМС и прикрепленных на обслуживание в клинику, осуществляется при наличии паспорта и страхового полиса или гарантийного письма от страховой компании. При отсутствии данных документов клиника вправе предложить пациенту пройти услугу за свой счет. При первичном оформлении в клинике застрахованные по системе ДМС обязаны подписать согласие на обработку персональных данных.
            p Медицинские услуги пациенту, застрахованному по системе ДМС, оказываются на основании условий программы ДМС и наступлении страхового случая. Наличие страхового полиса не является гарантией предоставления всех услуг по желанию застрахованного лица.
            h3 Предварительное оповещение пациентов
            p Контакт-центр «НОВИВ» осуществляет предварительное оповещение пациентов с целью оптимизации записи на прием и в случае изменения в расписании работы специалистов. Клиника не несет ответственности за невозможность предупредить пациента об изменениях в приеме из-за выключенного телефона, из-за неверно указанного телефона или в случае, если пациент не отвечает на звонок.
            h3 Опоздание на прием
            p Пациенту следует прибыть в клинику за 15 минут до начала приема для надлежащего оформления документов и своевременного начала приема. В случае опоздания Пациента на прием Клиника вправе перенести прием на другое время и дату, согласованные с Пациентом, так как опоздание одного ущемляет права другого на своевременный и полноценный прием. 
            p Если пациент не может явиться на прием в назначенное время, ему следует заранее, не менее чем за 1 час до приема, предупредить оператора контакт-центра по телефонам клиники.
            h3 Санитарно-эпидемиологический режим
            p Пациенты и сопровождающие их лица без исключения могут находиться в помещениях клиник только в бахилах и без верхней одежды. Приходить в клинику с животными запрещено.
            h3 Контроль качества
            p Для улучшения качества медицинских услуг и повышения уровня удовлетворенности сервисом со стороны пациентов в клинике действует система контроля качества. При оказании медицинской помощи Вам предлагается объем обследования в соответствии с утвержденными порядками и стандартами оказания медицинских услуг, за Вами остается право выбора объема медицинской помощи.
            b Пакет документов для получения налогового вычета, если плательщиком является сам пациент:
            ol
              li копия паспорта
              li копия ИНН ( в случае отсутствия копии документа номер ИНН необходимо указать в заявлении)
              li копии чеков (требуется только в случае частичного возмещения, если необходимо получить справку на сумму, имеющихся чеков, во всех остальных случаях справка готовится на общую сумму обслуживания за год)
              li заявление (заполняется по образцу)
            p Вышеуказанные документы можно предоставить в любую регистратуру холдинга «НОВИВ» или направить по электронной почте spravka289@noviv.ru (в текстовом сообщении укажите, пожалуйста, за какой период обслуживания необходимо предоставить справку, ФИО пациента, номер амбулаторной карты, контактный телефон, адрес клиники, в которой хотели бы получить готовую справку. Так же прикрепите, пожалуйста, копии следующих документов: паспорт (1-я страница) и ИНН. В случае, если Вы не можете прикрепить копии документов, просим дополнительно указать номер ИНН, паспортные данные и дату рождения пациента в заявлении)
            p Срок изготовления справки 4 недели.
            p Информация о готовности справки Вам поступит в виде смс сообщения на номер телефона, указанный в амбулаторной карте пациента.
            p Телефон для информации: +7 (495) 154-11-27 
            p Вышеуказанные документы можно предоставить в любую регистратуру холдинга «НОВИВ» или направить по электронной почте spravka289@noviv.ru (в текстовом сообщении укажите, пожалуйста, за какой период обслуживания необходимо предоставить справку, ФИО плательщика, ФИО пациента, степень родства, номер амбулаторной карты пациента, контактный телефон, адрес клиники, в которой хотели бы получить готовую справку. Так же прикрепите, пожалуйста, копии документов, указанных в пп.1-7. В случае, если Вы не можете прикрепить копии документов, просим дополнительно указать номер ИНН, паспортные данные и дату рождения пациента в заявлении) 
            p Срок изготовления справки 4 недели. Информация о готовности справки Вам поступит в виде смс сообщения на номер телефона, указанный в амбулаторной карте пациента. Телефон для информации +7 (495)154-11-27 
            p Обращаем Ваше внимание, на то, что налоговый вычет за детей, можно оформить только до достижения ребенком 18 лет. (Налоговый Кодекс РФ ст.219)
            a(href="#")
              i.icon.icon-paper
              span Скачать заявление на налоговый вычет, если плательщик является пациентом
            a(href="#")
              i.icon.icon-paper
              span Скачать заявление на налоговый вычет, если плательщик не является пациентом
            h3 Что такое налоговый вычет?
            p Обращаем ваше внимание, что в соответствии с подпунктом 3 пункта 1 статьи 219 Налогового кодекса Российской Федерации налогоплательщик имеет право на получение социального налогового вычета в сумме, уплаченной налогоплательщиком в налоговом периоде за медицинские услуги, оказанные медицинскими организациями, индивидуальными предпринимателями, осуществляющими медицинскую деятельность, ему, его супругу (супруге), родителям, детям (в том числе усыновленным) в возрасте до 18 лет, подопечным в возрасте до 18 лет (в соответствии с перечнем медицинских услуг, утвержденным Правительством Российской Федерации), а также в размере стоимости лекарственных препаратов для медицинского применения (в соответствии с перечнем лекарственных средств, утвержденным Правительством Российской Федерации), назначенных им лечащим врачом и приобретаемых налогоплательщиком за счет собственных средств.
            h3 Выдача копий медицинской документации
            p Выдача копий медицинских документов предоставляется на основании письменного заявления пациента лично заявителю либо его законным представителям или доверенным лицам.
            p Медицинские документы, связанные с функциональной диагностикой, результаты лабораторных исследований и прочее выдаются без дополнительного заявления.
            p Законными представителями пациента являются: родители (мать, отец) несовершеннолетнего пациента, опекуны несовершеннолетнего пациента или гражданина, лишенного дееспособности в установленном законом порядке.
            p Доверенное лицо: указанное пациентом (законным представителем) как лицо, допущенное к получению сведений, составляющих врачебную тайну, в соответствующем разделе заключенного договора, лицо, предъявившее доверенность или согласие от пациента, в отношении которого запрашивается документация, заверенное нотариально либо в установленном законом порядке.
            p Срок подготовки копий медицинских документов — до 7 (семи) рабочих дней.