---
title: Все страницы
---
extends layouts/_layout
block content
  .pages
    h1  Все страницы
    ul
      li
        a(href="index.html") Главная страница
      li
        a(href="about.html") О нас
      li
        a(href="action.html") Имплантат Nobel Biocare за 49 000 рублей под ключ до 30 апреля
      li
        a(href="article.html") Эндодонтическое лечение
      li
        a(href="contacts.html") Контакты
      li
        a(href="doctor.html") Новохатько Иван Владимирович
      li
        a(href="gallery.html") Галерея
      li
        a(href="info.html") Информация для клиентов
      li
        a(href="partners.html") Партненры
      li
        a(href="prices.html") Цены
      li
        a(href="question.html") Вопрос врачу
      li
        a(href="reviews.html") Отзывы
      li
        a(href="services-page.html") Лечение кариеса
      li
        a(href="services.html") Услуги
      li
        a(href="share.html") Акции
      li
        a(href="team.html") Коллектив
      li
        a(href="404.html") 404