---
title: Партненры
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Статьи', 'Эндодонтическое лечение'])
  .partners
    .container
      .row.center-xs
        .col-md-7.col-xs-12.start-xs
          h1 Партненры
          .partners__block
            .partners__block__img
              img(src="img/partners/partners-1.svg", alt="")
            .partners__block__text
              p Наша клиника сотрудничает со страховой компанией ВСК и принимает на лечение по ДМС.