---
title: Цены
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Цены'])
  .prices
    .container
      .row
        .col-xs-12
          h1 Цены на стоматологические услуги в Клинике НОВИВ
        .col-xs-12
          .prices__content
            .prices__block
              h2 Стоимость услуг
              ul
                li
                  span.service Лечение глубокого кариеса
                  span.value 3 990
                    i.icon.icon-rub
                li
                  span.service Лечение среднего кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечебная прокладка Vitribond
                  span.value 610
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 1 640
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечение глубокого кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечение среднего кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечебная прокладка Vitribond
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
              p Размещенный прейскурант не является офертой.
            a(href="#" data-service-list).btn.btn-secondary 
              span Развернуть цены
              i.icon.icon-down-arrow
            .prices__block
              h2 Хирургия
              ul
                li
                  span.service Лечение глубокого кариеса
                  span.value 3 990
                    i.icon.icon-rub
                li
                  span.service Лечение среднего кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечебная прокладка Vitribond
                  span.value 610
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 1 640
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечение глубокого кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечение среднего кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечебная прокладка Vitribond
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
              p Размещенный прейскурант не является офертой.
            a(href="#" data-service-list).btn.btn-secondary 
              span Развернуть цены
              i.icon.icon-down-arrow
            .prices__block
              h2 Имплантология
              ul
                li
                  span.service Лечение глубокого кариеса
                  span.value 3 990
                    i.icon.icon-rub
                li
                  span.service Лечение среднего кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечебная прокладка Vitribond
                  span.value 610
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 1 640
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечение глубокого кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечение среднего кариеса
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Лечебная прокладка Vitribond
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service Удаление старого 
                  span.value 3 450
                    i.icon.icon-rub
                li
                  span.service реставрационного материала
                  span.value 3 450
                    i.icon.icon-rub
              p Размещенный прейскурант не является офертой.
            a(href="#" data-service-list).btn.btn-secondary 
              span Развернуть цены
              i.icon.icon-down-arrow