---
title: Отзывы
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Отзывы'])
  .reviews
    .container
      .row
        .col-md-9.col-sm-8.col-xs-12
          h1 Отзывы о стоматологической клинике НОВИВ
        .col-md-3.col-sm-4.col-xs-12.end-sm.center-xs.scroll
          a(href="#reviews__form").btn.btn-primary оставить отзыв
    .reviews__content
      .container
        .row
          .col-sm-9.col-xs-12
            .reviews__client
              h2 Мария
              span 30.12.2017
              p Обратилась в Новив в полном отчаянии — пародонтоз совсем замучил, толком не могла есть, страшно было чистить зубы — шатались, боялась, что выпадет в процессе чистки. Думала, пойду в больницу, мне все удалят, вставят съемный протез, и буду я как дряхлая старуха с зубами в стакане. НО! В Новив сказали, что удалить никогда не поздно, можно попробовать сохранить зубы. Путь был долгим и сложным — шинирование, кюретаж карманов, потом несколько сеансов вектора, параллельно местная терапия. В результате зубы пока на месте, не шатаются, оголенные шейки накрылись десной, могу улыбаться. Спасибо огромное. 
              b Лечащий врач: Девляшкина Екатерина Александровна
          .col-sm-3.col-xs-12
          .col-sm-9.col-xs-12.col-sm-offset-3
            .reviews__clinic
              h2 Клиника НОВИВ
              span 07.01.2018
              p Спасибо за Ваш отзыв. Рады, что Вы снова довольны своей улыбкой. Проходите ежегодный осмотр у стоматолога и зубы Вам еще послужат долго!
          .col-sm-9.col-xs-12
            .reviews__client
              h2 Мария
              span 30.12.2017
              p Обратилась в Новив в полном отчаянии — пародонтоз совсем замучил, толком не могла есть, страшно было чистить зубы — шатались, боялась, что выпадет в процессе чистки. Думала, пойду в больницу, мне все удалят, вставят съемный протез, и буду я как дряхлая старуха с зубами в стакане. НО! В Новив сказали, что удалить никогда не поздно, можно попробовать сохранить зубы. Путь был долгим и сложным — шинирование, кюретаж карманов, потом несколько сеансов вектора, параллельно местная терапия. В результате зубы пока на месте, не шатаются, оголенные шейки накрылись десной, могу улыбаться. Спасибо огромное. 
              b Лечащий врач: Девляшкина Екатерина Александровна
          .col-sm-3.col-xs-12
          .col-sm-9.col-xs-12.col-sm-offset-3
            .reviews__clinic
              h2 Клиника НОВИВ
              span 07.01.2018
              p Спасибо за Ваш отзыв. Рады, что Вы снова довольны своей улыбкой. Проходите ежегодный осмотр у стоматолога и зубы Вам еще послужат долго!
          .col-xs-12.center-xs
            a(href="#").btn.btn-primary еще отзывы
    .reviews__form#reviews__form
      .container
        h2 Оставьте отзыв
        form(action="").form
          .row.center-xs
            .col-md-9.col-xs-12.start-xs
              .row
                .col-md-5.col-sm-6.col-xs-12
                  .form__input
                    label Имя
                    input(type="text" placeholder="Имя")
                  .form__input
                    label E-mail
                    input(type="email" placeholder="E-mail")
                  .form__select
                    select
                      option(value="1") Лечащий врач
                      option(value="2") Лечащий врач1
                      option(value="3") Лечащий врач2
                .col-md-7.col-sm-6.col-xs-12
                  textarea(placeholder="Ваш отзыв")
                .col-xs-12.center-xs
                  input(type="submit" value="оставить отзыв").btn.btn-secondary
                  .form__checkbox
                    input(type="checkbox" id="checkbox-2")
                    label(for="checkbox-2")
                      i.icon.icon-checkbox
                      i.icon.icon-checkbox-active
                      | Я согласен на 
                      a(href="#") обработку персональных данных.
    .reviews__video
      .container
        h2 Видеоотзывы
        .swiper
          .swiper-container.swiper-reviews
            .swiper-wrapper
              .swiper-slide
                img(src="img/gallery/gallery-12.png", alt="")
                a(href="#")
                  i.icon.icon-play
              .swiper-slide
                img(src="img/gallery/gallery-12.png", alt="")
                a(href="#")
                  i.icon.icon-play
              .swiper-slide
                img(src="img/gallery/gallery-12.png", alt="")
                a(href="#")
                  i.icon.icon-play
              .swiper-slide
                img(src="img/gallery/gallery-12.png", alt="")
                a(href="#")
                  i.icon.icon-play
            .swiper-pagination.swiper-pagination-reviews
          .swiper-button-next.swiper-reviews-next
            i.icon.icon-right-arrow
          .swiper-button-prev.swiper-reviews-prev
            i.icon.icon-left-arrow