---
title: Услуги
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Услуги'])
  .services
    .container
      .row
        .col-xs-12
          h1 Услуги стоматологической клиники НОВИВ
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/terap.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Терапия
              ul
                li
                  a(href="#") Анестезия
                li
                  a(href="#") Гигиена и профилактика
                li
                  a(href="#") Лечение кариеса
                li
                  a(href="#") Лечение периодонтита
                li
                  a(href="#") Лечение пульпита
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2.hidden-xs
              ul
                li
                  a(href="#") Отбеливание
                li
                  a(href="#") Пломбы
                li
                  a(href="#") Распломбировка каналов
                li
                  a(href="#") Стоматит
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/surg.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Хирургия
              ul
                li
                  a(href="#") Периостит
                li
                  a(href="#") Пластика уздечки языка
                li
                  a(href="#") Резекция зуба
                li
                  a(href="#") Удаление зуба
                li
                  a(href="#") Шинирование
          .col-md-4.col-sm-6.col-xs-12
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/impl.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Имплантология
              ul
                li
                  a(href="#") Альтернативы синус лифтингу
                li
                  a(href="#") Виды имплантации зубов
                li
                  a(href="#") Имплантаты Ankylos
                li
                  a(href="#") Имплантация Nobel Biocare
                li
                  a(href="#") Имплантация всё на четырех
                li
                  a(href="#") Имплантация всё на шести
                li
                  a(href="#") Имплантация под ключ
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2.hidden-xs
              ul
                li
                  a(href="#") Импланты Adin
                li
                  a(href="#") Импланты Alpha Bio
                li
                  a(href="#") Импланты Astra tech
                li
                  a(href="#") Классическая двухэтапная имплантация зубов
                li
                  a(href="#") Консультация стоматолога-имплантолога
                li
                  a(href="#") Остеопластический материал
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/ortodon.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Ортодонтия
              ul
                li
                  a(href="#") Брекет-системы Damon
                li
                  a(href="#") Брекеты Damon Clear
                li
                  a(href="#") Диагностика и оттиски
                li
                  a(href="#") Капы для выравнивания зубов
                li
                  a(href="#") Керамические брекеты
                li
                  a(href="#") Консультация ортодонта
                li
                  a(href="#") Коррекционное лечение
                li
                  a(href="#") Трейнеры Myobrace
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2.hidden-xs
              ul
                li
                  a(href="#") Ортодонтическое лечение несъёмными аппаратами
                li
                  a(href="#") Ортодонтическое лечение съёмными аппаратами
                li
                  a(href="#") Прочее
                li
                  a(href="#") Сапфировые брекеты
                li
                  a(href="#") Снятие брекет-системы
                li
                  a(href="#") Стоимость брекет-систем
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/orto.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Ортопедия
              ul
                li
                  a(href="#") Виниры и люминиры
                li
                  a(href="#") Вкладки (внутрикоронковые, внутрикорневые)
                li
                  a(href="#") Временные реставрации
                li
                  a(href="#") Коронки E-MAX
                li
                  a(href="#") Несъемное протезирование
                li
                  a(href="#") Оттиски и диагностические модели
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2.hidden-xs
              ul
                li
                  a(href="#") Протезирование на имплантатах
                li
                  a(href="#") Прочие ортопедические работы
                li
                  a(href="#") Ремонт протезов
                li
                  a(href="#") Съёмное протезирование
                li
                  a(href="#") Установка керамических виниров
                li
                  a(href="#") Циркониевые коронки
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/este.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Эстетическая стоматология
              ul
                li
                  a(href="#") Выпала коронка – что делать
                li
                  a(href="#") Компьютерное моделирование улыбки
                li
                  a(href="#") Лечение сколов и трещин на зубах
                li
                  a(href="#") Микропротезирование
                li
                  a(href="#") Наращивание зубов
                li
                  a(href="#") Отбеливание Opalescence
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2.hidden-xs
              ul
                li
                  a(href="#") Панорамный снимок зубов
                li
                  a(href="#") Рентген зубов
                li
                  a(href="#") Скайс
                li
                  a(href="#") Сломалась коронка зуба - что делать
                li
                  a(href="#") Художественная реставрация зубов
                li
                  a(href="#") Чистка зубов Air Flow
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/child.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Детская стоматология
              ul
                li
                  a(href="#") Анестезия (детская)
                li
                  a(href="#") Гигиена
                li
                  a(href="#") Терапевтические манипуляции
                li
                  a(href="#") Удаление зубов
          .col-md-4.col-sm-6.col-xs-12
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/gige.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Профессиональная гигиена рта
              ul
                li
                  a(href="#") Отбеливание Air Flow
                li
                  a(href="#") Отбеливание зубов ZOOM
                li
                  a(href="#") Ультразвуковая чистка зубов
          .col-md-4.col-sm-6.col-xs-12
      .services__block
        .row
          .col-md-4.col-xs-12
            .services__block__img
              img(src="img/home/paron.svg", alt="")
          .col-md-4.col-sm-6.col-xs-12
            .services__block__text
              h2 Пародонтология
              ul
                li
                  a(href="#") Иссечение капюшона
                li
                  a(href="#") Лечение десен
          .col-md-4.col-sm-6.col-xs-12