---
title: Лечение кариеса
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Услуги', 'Терапия', 'Лечение кариеса'])
  .services-page
    .container
      .row
        .col-xs-4
          aside.aside
            .aside__block
              h2 Терапия
              ul
                li
                  a(href="#") Анестезия
                li
                  a(href="#") Гигиена и профилактика
                li
                  a(href="#") Лечение кариеса
                li.active
                  a(href="#") Лечение периодонтита
                li
                  a(href="#") Лечение пульпита
                li
                  a(href="#") Отбеливание
                li
                  a(href="#") Пломбы
                li
                  a(href="#") Распломбировка каналов
                li
                  a(href="#") Показать все
            a(href="#").btn.btn-primary Запись к врачу
            a(href="#").btn.btn-pink Задать вопрос
        .col-md-8.col-sm-12
          .services-page__content
            h1 Лечение кариеса
            .services-page__content__block(style="background-image: url('img/video.png'")
              .services-page__content__block-gradient
                p Комплексная профессиональная чистка
                b Всего 3 950
                  i.icon.icon-rub-bold
                span Безупречная улыбка по доступной цене! Акция действует по средам, пятницам и воскресеньям. До 30 апреля 2018 г.
            .services-page__content__article
              p Кариес — это наиболее распространенная проблема в стоматологии. Он представляет собой длительный процесс разрушения тканей зубов. Причина его возникновения — негативное воздействие кислоты, которая образовывается в ротовой полости. В результате твердые зубные ткани разрушаются, воспалительный процесс распространяется дальше на мягкую зону, формируя кариозную область.
            .prices__content
              .prices__block
                h2 Стоимость услуг
                ul
                  li
                    span.service Лечение глубокого кариеса
                    span.value 3 990
                      i.icon.icon-rub
                  li
                    span.service Лечение среднего кариеса
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service Лечебная прокладка Vitribond
                    span.value 610
                      i.icon.icon-rub
                  li
                    span.service Удаление старого 
                    span.value 1 640
                      i.icon.icon-rub
                  li
                    span.service реставрационного материала
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service Лечение глубокого кариеса
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service Лечение среднего кариеса
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service Лечебная прокладка Vitribond
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service Удаление старого 
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service реставрационного материала
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service Удаление старого 
                    span.value 3 450
                      i.icon.icon-rub
                  li
                    span.service реставрационного материала
                    span.value 3 450
                      i.icon.icon-rub
                p Размещенный прейскурант не является офертой.
              a(href="#" data-service-list).btn.btn-secondary 
                span Развернуть цены
                i.icon.icon-down-arrow
            .services-page__content__form
              h2 Запишитесь на бесплатную коснультацию
              .row
                .col-sm-6.col-xs-12
                  form(action="").form.form-secondary
                    .form__input
                      label(for="text") Имя
                      input(type="text" id="text" placeholder="Имя")
                    .form__input
                      label(for="tel") Телефон
                      input(type="text" id="tel" placeholder="Телефон").phone
                    .form__select
                      label Желаемая дата
                      select
                        option(value="1") __/__/____
                        option(value="2") 11/11/2018
                        option(value="3") 13/01/2018
                    input(type="submit" value="Записаться").btn
                    .form__checkbox
                      input(type="checkbox" id="checkbox")
                      label(for="checkbox")
                        i.icon.icon-checkbox
                        i.icon.icon-checkbox-active
                        | Я согласен на 
                        a(href="#") обработку персональных данных. 
                .col-sm-6.hidden-xs
                  img(src="img/home-png/doctor.png", alt="")
            h2 Как происходит лечение кариеса?
            .services-page__content__article
              .services-page__content__article__img
                img(src="img/video.png", alt="")
                p Оно зависит от его вида и запущенности и осуществляется индивидуально для каждого больного. Эта болезнь различается по стадиям, а также по зонам его возникновения. Если она запущена, то может привести к таким осложнениям как пульпит, что чревато острыми «стреляющими» болями для пациента.
            h2 Лечение кариеса у взрослых на различных стадиях:
            .services-page__content__article
              ul
                li Поверхностная. Начальная стадия этого заболевания характеризуется малой зоной кариозной полости и небольшими участками деминерализации. В таких случаях используются лечебные препараты на основе фосфора, кальция и фтора. Их наносят на зубную поверхность, для дополнительной защиты. Зараженная полость после обработки пломбируется; 
                li Средняя. В данном случае уже возникает локальные поражения зубных тканей. Также в них могут возникать периодические боли. В подобных ситуациях проводят очищение пораженных тканей и их последующую пломбировку. Если нужно, используется местная анестезия; 
                li Глубокая. В этой стадии происходит обширное поражение зубной ткани, иногда задевается нерв (возникают острые боли, гноящиеся участки, отеки десен). Лечение кариеса в подобных случаях более тщательное и долгое. Оно состоит из лечебных процедур в зубных каналах, очищения больной полости, пломбировку и последующую реставрацию формы зуба.
              .services-page__content__article__img
                img(src="img/video.png", alt="")
            h2 Лечение кариеса у детей
            .services-page__content__article
              p Если же говорить про лечение кариеса у детей, то этот процесс требует своевременной диагностики, так как болезнь в таких случаях развивается довольно быстро. 
              p Необходимо контролировать появления у малышей и более старших детей на зубах белых либо коричневых пятнышек, болезненной реакции на очень холодную либо горячую пищу и возникновения неприятного запаха из ротовой полости. 
              p Если у малыша диагностируется болезнь в начальной стадии, то серьезное воздействие не потребуется. Лечение кариеса у ребенка ограничится защитой эмали от дальнейшего разрушения с помощью результативной и полностью безболезненной процедуры: зуб покрывают фтористым серебром или лаком. Когда у подрастающего малыша возникнут постоянные зубы, врач вполне может осуществить запечатывание углублений (фиссур) между выступающими зубными частями, чтобы предупредить возникновение налета бактерий разрушающих эмаль. 
              p В случае развития заболевания, лечение кариеса у детей производится с пломбированием. Если этого не сделать, то болезнь перейдет более в острую форму — пульпит, а затем и в периодонтит.
              .services-page__content__article__img
                img(src="img/video.png", alt="")
              p Врачи стоматологической клиники Илатан осуществляют лечение кариеса у взрослых и детей. Мы располагаем современным медицинским оборудованием и необходимыми средствами, чтобы производить лечебные процедуры быстро, качественно и безболезненно. Наши опытные специалисты поставят Вам грамотный диагноз, определят способы лечения кариеса именно в Вашем случае и проведут его с минимальными неудобствами и без каких-либо неприятных ощущений для Вас. У нас есть все необходимое для эффективного лечения этой болезни в любой стадии у малышей, взрослых и подростков. 
              p Обращайтесь! Не запускайте свою болезнь, берегите свою красивую улыбку и здоровый вид зубов! 
              p Мы гарантируем грамотное, быстрое и эффективное лечение кариеса в нашей клинике в приемлемое для Вас время!
      .row
        .col-xs-12
          .services-page__swiper
            h2 Врачи по направлению
            .swiper
              .swiper-container.swiper-doc
                .swiper-wrapper
                  .swiper-slide
                    .team__block
                      .team__block__img
                        img(src="img/team/team-1.png", alt="")
                      h3 Какаямилая Елена Николаевна
                      p Врач-стоматолог-ортопед
                      a(href="#").btn.btn-primary Записаться на прием
                  .swiper-slide
                    .team__block
                      .team__block__img
                        img(src="img/team/team-1.png", alt="")
                      h3 Какаямилая Елена Николаевна
                      p Врач-стоматолог-ортопед
                      a(href="#").btn.btn-primary Записаться на прием
                  .swiper-slide
                    .team__block
                      .team__block__img
                        img(src="img/team/team-1.png", alt="")
                      h3 Какаямилая Елена Николаевна
                      p Врач-стоматолог-ортопед
                      a(href="#").btn.btn-primary Записаться на прием
                  .swiper-slide
                    .team__block
                      .team__block__img
                        img(src="img/team/team-1.png", alt="")
                      h3 Какаямилая Елена Николаевна
                      p Врач-стоматолог-ортопед
                      a(href="#").btn.btn-primary Записаться на прием
              .swiper-button-next.swiper-doc-next
                i.icon.icon-right-arrow
              .swiper-button-prev.swiper-doc-prev
                i.icon.icon-left-arrow
        .col-xs-12
          .services-page__swiper.services-page__swiper-article
            h2 Полезные статьи
            .swiper
              .swiper-container.swiper-article
                .swiper-wrapper
                  .swiper-slide
                    a(href="#").swiper__article
                      img(src="img/swiper-article.png", alt="")
                      p.grin Как правильно чистить зубы
                  .swiper-slide
                    a(href="#").swiper__article
                      img(src="img/swiper-article.png", alt="")
                      p.blue Как правильно чистить зубы
                  .swiper-slide
                    a(href="#").swiper__article
                      img(src="img/swiper-article.png", alt="")
                      p.pink Как правильно чистить зубы
                  .swiper-slide
                    a(href="#").swiper__article
                      img(src="img/swiper-article.png", alt="")
                      p.grin Как правильно чистить зубы
                .swiper-pagination.swiper-pagination-article
              .swiper-button-next.swiper-article-next
                i.icon.icon-right-arrow
              .swiper-button-prev.swiper-article-prev
                i.icon.icon-left-arrow