---
title: Акции
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Акции'])
  .share
    .container
      .row
        .col-xs-12
          h1 Акции стоматологической клиники НОВИВ
      .row.hidden-xs
        .col-md-8.col-sm-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Имплантат Nobel Biocare под ключ
        .col-md-4.col-sm-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Приём всех специалистов Бесплатно 0 рублей
        .col-md-4.col-sm-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Комплексное лечение брекетами по специальной цене
        .col-md-8.col-sm-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Отбеливание Zoom 3 со скидкой 50%
        .col-md-6.col-sm-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Съемный протез всего за 35 000 рублей
        .col-md-6.col-sm-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Металлокерамическая коронка за 8000 рублей
      .swiper
        .swiper-container.swiper-share
          .swiper-wrapper
            .swiper-slide
              .share__block(style="background-image: url(img/contacts.png)")
                a(href="#")
                  span Съемный протез всего за 35 000 рублей
            .swiper-slide
              .share__block(style="background-image: url(img/contacts.png)")
                a(href="#")
                  span Съемный протез всего за 35 000 рублей
            .swiper-slide
              .share__block(style="background-image: url(img/contacts.png)")
                a(href="#")
                  span Съемный протез всего за 35 000 рублей
            .swiper-slide
              .share__block(style="background-image: url(img/contacts.png)")
                a(href="#")
                  span Съемный протез всего за 35 000 рублей
          .swiper-pagination.swiper-pagination-share
