---
title: Коллектив
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Коллектив'])
  .team
    .container
      .row
        .col-xs-12
          h1 Коллектив стоматологической клиники НОВИВ
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Новохатько Иван Владимирович
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Иванченко Дмитрий Николаевич
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Сидоров Адурахман Заргизавич
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Какаямилая Елена Николаевна
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Новохатько Иван Владимирович
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Новохатько Иван Владимирович
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Новохатько Иван Владимирович
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
        .col-md-4.col-sm-6.col-xs-12
          .team__block
            a(href="#").team__block__link
            .team__block__img
              img(src="img/team/team-1.png", alt="")
            h3 Новохатько Иван Владимирович
            p Врач-стоматолог-ортопед
            a(href="#").btn.btn-primary Записаться<span> на прием</span>
