//BEGIN header
header.header
  .header-secondary.hidden-sm.hidden-md
    .menu-open
      span
    a(href="index.html")
      img(src="img/logo-headre-mob.svg", alt="")
      img(src="img/logo-headre-mob1.svg", alt="")
    a(href="tel:+79629767812").tel
      i.icon.icon-icon-phone
  .header__content.hidden-xs
    .container
      .row.middle-xs
        .col-xs-3
          a(href="index.html").header__logo
            img(src="img/home/logo-2.svg", alt="")
        .col-xs-3
          .header__address
            p г. Фрязино, <br>пр-т Мира  д. 29
            span Ежедневно с 9:00 до 20:00
        .col-xs-3
          .header__tel
            a(href="tel:+79629767812") +7 (962) 976-78-12
            a(href="tel:+74962556020") +7 (496) 255-60-20
        .col-xs-3.end-xs
          a(href="#entry" rel="modal:open").btn.btn-primary Запись к врачу
  .header__nav.hidden-xs
    .container
      nav
        ul
          li
            a(href="services.html") Услуги
          li
            a(href="prices") Цены
          li
            a(href="share.html") Акции
          li
            a(href="reviews.html") Отзывы
          li
            a(href="question.html") Вопрос врачу
          li
            a(href="about.html") Клиника
          li
            a(href="team.html") Коллектив
          li
            a(href="contacts.html") Контакты
//END header
