.entry.modal#entry
  a(href="#" rel="modal:close").close
    span
  .entry__content
    .heading
      h2 Запись к врачу
    form(action="").form
      .form__input
        label(for="text") Имя
        input(type="text" id="text" placeholder="Имя")
      .form__input
        label(for="tel") Телефон
        input(type="tel" id="tel" placeholder="Телефон").phone
      .form__select
        label Желаемая дата
        select
          option(value="1") __/__/____
          option(value="2") 11/11/2018
          option(value="3") 13/01/2018
      input(type="submit" value="Записаться").btn.btn-white
      .form__checkbox
        input(type="checkbox" id="checkbox3")
        label(for="checkbox3")
          i.icon.icon-checkbox
          i.icon.icon-checkbox-active
          | Я согласен на 
          a(href="#") обработку персональных данных. 
  


.menu
  ul
    li
      a(href="services.html") Услуги
    li
      a(href="prices") Цены
    li
      a(href="share.html") Акции
    li
      a(href="reviews.html") Отзывы
    li
      a(href="question.html") Вопрос врачу
    li
      a(href="about.html") Клиника
    li
      a(href="team.html") Коллектив
    li
      a(href="contacts.html") Контакты
  .menu__contacts
    a(href="#").btn.btn-white Запись к врачу
    .menu__contacts__address
      p г. Фрязино, пр-т Мира  д. 29
      span Ежедневно с 9:00 до 20:00
    .menu__contacts__tel
      a(href="tel:+79629767812") +7 (962) 976-78-12
      a(href="tel:+74962556020") +7 (496) 255-60-20
  footer.footer
    .footer__top
      .container
        .footer__title
          .row.middle-xs
            .col-sm-7.col-xs-12.first-sm.last-xs
              a(href="#").btn.open-dropdown Посмотреть все услуги
                i.icon.icon-down-arrow
            .col-sm-5.col-xs-12
              ul
                li
                  a(href="#") Статьи
                li
                  a(href="#") Партнеры
                li
                  a(href="#") Для клиентов
        .footer__services
          .row
            .col-sm-4.col-xs-12
              .footer__services__block
                h4
                  a(href="#") Терапия
                ul
                  li
                    a(href="#") Анестезия
                  li
                    a(href="#") Гигиена и профилактика
                  li
                    a(href="#") Лечение кариеса
                  li
                    a(href="#") Лечение периодонтита
                ul.none
                  li
                    a(href="#") Лечение пульпита
                  li
                    a(href="#") Отбеливание
                  li
                    a(href="#") Пломбы
                  li
                    a(href="#") Распломбировка каналов
                  li
                    a(href="#") Стоматит
                a(href="#").open 
                  span Развернуть
                  i.icon.icon-down-arrow
              .footer__services__block
                h4
                  a(href="#") Ортодонтия
                ul
                  li
                    a(href="#") Брекет-системы Damon
                  li
                    a(href="#") Брекеты Damon Clear
                  li
                    a(href="#") Диагностика и оттиски
                  li
                    a(href="#") Капы для выравнивания зубов
                ul.none
                  li
                    a(href="#") Керамические брекеты
                  li
                    a(href="#") Консультация ортодонта
                  li
                    a(href="#") Коррекционное лечение
                  li
                    a(href="#") Трейнеры Myobrace
                  li
                    a(href="#") Ортодонтическое лечение несъёмными аппаратами
                  li
                    a(href="#") Ортодонтическое лечение съёмными аппаратами
                  li
                    a(href="#") Прочее
                  li
                    a(href="#") Сапфировые брекеты
                  li
                    a(href="#") Снятие брекет-системы
                  li
                    a(href="#") Стоимость брекет-систем
                a(href="#").open 
                  span Развернуть
                  i.icon.icon-down-arrow
              .footer__services__block
                h4
                  a(href="#") Детская стоматология
                ul
                  li
                    a(href="#") Анестезия (детская)
                  li
                    a(href="#") Гигиена
                  li
                    a(href="#") Терапевтические манипуляции
                  li
                    a(href="#") Удаление зубов
            .col-sm-4.col-xs-12
              .footer__services__block
                h4
                  a(href="#") Имплантология
                ul
                  li
                    a(href="#") Альтернативы синус лифтингу
                  li
                    a(href="#") Виды имплантации зубов
                  li
                    a(href="#") Имплантаты Ankylos
                  li
                    a(href="#") Имплантация Nobel Biocare
                ul.none
                  li
                    a(href="#") Имплантация всё на четырех
                  li
                    a(href="#") Имплантация всё на шести
                  li
                    a(href="#") Имплантация под ключ
                  li
                    a(href="#") Импланты Adin
                  li
                    a(href="#") Импланты Alpha Bio
                  li
                    a(href="#") Импланты Astra tech
                  li
                    a(href="#") Классическая двухэтапная имплантация зубов
                  li
                    a(href="#") Консультация стоматолога-имплантолога
                  li
                    a(href="#") Остеопластический материал
                a(href="#").open 
                  span Развернуть
                  i.icon.icon-down-arrow
              .footer__services__block
                h4
                  a(href="#") Профессиональная <br>гигиена рта
                ul
                  li
                    a(href="#") Отбеливание Air Flow
                  li
                    a(href="#") Отбеливание зубов ZOOM
                  li
                    a(href="#") Ультразвуковая чистка зубов
              .footer__services__block
                h4
                  a(href="#") Пародонтология
                ul
                  li
                    a(href="#") Иссечение капюшона
                  li
                    a(href="#") Лечение десен
            .col-sm-4.col-xs-12
              .footer__services__block
                h4
                  a(href="#") Эстетическая стоматология
                ul
                  li
                    a(href="#") Выпала коронка – что делать
                  li
                    a(href="#") Компьютерное моделирование улыбки
                  li
                    a(href="#") Лечение сколов и трещин на зубах
                ul.none
                  li
                    a(href="#") Микропротезирование
                  li
                    a(href="#") Наращивание зубов
                  li
                    a(href="#") Отбеливание Opalescence
                  li
                    a(href="#") Панорамный снимок зубов
                  li
                    a(href="#") Рентген зубов
                  li
                    a(href="#") Скайс
                  li
                    a(href="#") Сломалась коронка зуба - что делать
                  li
                    a(href="#") Художественная реставрация зубов
                  li
                    a(href="#") Чистка зубов Air Flow
                a(href="#").open 
                  span Развернуть
                  i.icon.icon-down-arrow
              .footer__services__block
                h4
                  a(href="#") Ортопедия
                ul
                  li
                    a(href="#") Брекет-системы Damon
                  li
                    a(href="#") Брекеты Damon Clear
                  li
                    a(href="#") Диагностика и оттиски
                ul.none
                  li
                    a(href="#") Капы для выравнивания зубов
                  li
                    a(href="#") Керамические брекеты
                  li
                    a(href="#") Консультация ортодонта
                  li
                    a(href="#") Коррекционное лечение
                  li
                    a(href="#") Трейнеры Myobrace
                  li
                    a(href="#") Ортодонтическое лечение несъёмными аппаратами
                  li
                    a(href="#") Ортодонтическое лечение съёмными аппаратами
                  li
                    a(href="#") Прочее
                  li
                    a(href="#") Сапфировые брекеты
                  li
                    a(href="#") Снятие брекет-системы
                  li
                    a(href="#") Стоимость брекет-систем
                a(href="#").open 
                  span Развернуть
                  i.icon.icon-down-arrow
              .footer__services__block
                h4
                  a(href="#") Хирургия
                ul
                  li
                    a(href="#") Периостит
                  li
                    a(href="#") Пластика уздечки языка
                  li
                    a(href="#") Резекция зуба
                  li
                    a(href="#") Удаление зуба
                ul.none
                  li
                    a(href="#") Шинирование
                a(href="#").open 
                  span Развернуть
                  i.icon.icon-down-arrow
        .footer__content
          .row
            .col-xs-5.hidden-xs
              .footer__nav
                ul
                  li
                    a(href="#") Цены
                  li
                    a(href="#") Галерея
                  li
                    a(href="#") Акции
                ul
                  li
                    a(href="#") Вопрос врачу
                  li
                    a(href="#") Коллектив
                  li
                    a(href="#") Отзывы
                ul
                  li
                    a(href="#") О клинике
                  li
                    a(href="#") Награды
                  li
                    a(href="#") Лицензии
                  li
                    a(href="#") Вакансии
            .col-sm-5.col-sm-offset-2.col-xs-12
              .footer__contacts
                p  г. Фрязино, пр-т Мира  д. 29
                a(href="tel:+79629767812") +7 (962)-976-78-12
                a(href="tel:+74962556020") +7 (496) 255-60-20
                span Ежедневно с 9:00 до 20:00
                a(href="mailto:info@noviv.ru").hidden-xs info@noviv.ru
            .col-xs-7.hidden-xs
              .footer__map
                a(href="#") Политика конфиденциальности
                a(href="#") Карта сайта
            .col-sm-5.col-xs-12
              .footer__social
                ul
                  li
                    a(href="#") 
                      i.icon.icon-vk
                  li
                    a(href="#") 
                      i.icon.icon-instagram
                  li
                    a(href="#") 
                      i.icon.icon-fb
                  li
                    a(href="#") 
                      i.icon.icon-ok
            .col-xs-12.hidden-sm.hidden-md
              .footer__contacts
                a(href="mailto:info@noviv.ru").mail info@noviv.ru
    .footer__bottom
      .container
        .row
          .col-sm-9.col-xs-12
            .footer__bottom__block
              img(src="img/home/logo-3.svg", alt="")
              p 2008-2018 © Семенйная стомотологическая клиника НОВИВ. Все права защищены. Имеются противопоказания необходима консультация специалиста. 
                span Вся информация, включая цены, на этом интернет-сайте носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437•2 ГК РФ.
          .col-sm-3.col-xs-12
            .footer__bottom__autor
              a(href="#") Дизайн<br>Студии Бакина  
                i.icon.icon-logo-author
