section.home-about
  .container
    .row
      .col-xs-12
        .heading
          h2 Стоматология НОВИВ
        .home-about__content
          p В 2008 году открылась стоматологическая клиника «НОВИВ». С этого момента начинается история развития этой небольшой уютной клиники, в которой предоставляется весь комплекс услуг.
          .home-about__video
            img(src="img/video.png", alt="")
            a(href="#")
              i.icon.icon-play