section.intro
  .intro__img
    img(src="img/home-png/intro-bg.jpg", alt="")
  .intro__block
    h1 Здоровье детей — счастье в семье
    .intro__block__btn
      a(href="#entry" rel="modal:open").btn.btn-primary Запись к врачу
      a(href="#").btn.btn-white Узнать цену