section.home-services
  .container
    .row.center-xs
      .col-md-9.start-xs.col-xs-12
        .heading
          h2 Услуги стоматологии НОВИВ
        .row.center-xs
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/terap.svg", alt="")
              p Терапия
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/surg.svg", alt="")
              p Хирургия
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/impl.svg", alt="")
              p Имплантология
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/orto.svg", alt="")
              p Ортопедия
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/ortodon.svg", alt="")
              p Ортодонтия
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/paron.svg", alt="")
              p Пародонтология
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/este.svg", alt="")
              p Эстетическая стоматология
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/gige.svg", alt="")
              p Профессиональная гигиена рта
          .col-sm-4.col-xs-12.center-xs
            a(href="#").home-services__block
              img(src="img/home/child.svg", alt="")
              p Детская стоматология