section.home-shares
  .container
    .row
      .col-xs-12
        .heading
          h2 Лучшие акции для наших клиентов
      .col-xs-12.center-xs
        .swiper
          .swiper-container.swiper-shares
            .swiper-wrapper
              a(href="#" style='background-image: url(img/contacts.png)').swiper-slide
                .home-shares__block
                  h4 Имплантат Nobel Biocare под ключ
                  p Имплантат Nobel Biocare 49000руб. <br>под ключ до 30 апреля.
              a(href="#" style='background-image: url(img/contacts.png)').swiper-slide
                .home-shares__block
                  h4 Приём всех специалистов <br>бесплатно 0 рублей
                  p Бесплатная консультация и обследование
              a(href="#" style='background-image: url(img/contacts.png)').swiper-slide
                .home-shares__block
                  h4 Приём всех специалистов <br>бесплатно 0 рублей
                  p Бесплатная консультация и обследование
            .swiper-pagination.swiper-pagination-shares
          .swiper-button-next.swiper-shares-next
            i.icon.icon-right-arrow
          .swiper-button-prev.swiper-shares-prev
            i.icon.icon-left-arrow
        a(href="#").btn.btn-secondary Все акции